/* Reset básico */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: f6f6f6;
  height: 100vh;
}

/* Contenedor general */
.login-container {
  display: flex;
  height: 100vh;
}

/* Columna izquierda: formulario */
.col-left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 6rem 4rem 4rem 4rem; /* padding-top controlado */
  background-color: #f6f6f6;
}

/* Caja del login */
.login-box {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-top: 0;
}

.login-box .logo {
  width: 400px;
  margin-bottom: 1rem;
}

.login-box h2 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  color: #02735e;
}

.login-box p {
  margin-bottom: 2rem;
  color: #444;
  font-size: 1rem;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.login-box button {
  width: 40%;
  margin-top: 1rem;
  padding: 0.75rem;
  background: #02735e;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-box button:hover {
  background-color: #025c4b;
}

.extra-options {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  margin-top: 0.2rem;
}

/* Columna derecha: imagen */
.col-right {
  width: 60%;
  overflow: hidden;
  background: #f6f6f6;
}

.col-right-inner {
  width: 100%;
  height: 100%;
  clip-path: polygon(20% 0, 100% 0, 85% 100%, 0% 100%);
  position: relative;
  background: #f6f6f6;
}

.col-right-inner::before {
  content: "";
  position: absolute;
  inset: 0;
  clip-path: inherit;
  background:
    linear-gradient(75deg, rgba(0, 0, 0, 0.8) 0%, transparent 12%),
    linear-gradient(-75deg, rgba(0, 0, 0, 0.8) 0%, transparent 12%);
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: multiply;
}

.col-right-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  
}
